@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#food-header {
    width: 100%;
    max-height: 90%;
}

h1 {
    font-family: 'Anton', sans-serif;
}

img+h6, h4, p, .navbar{
    font-family: 'Merriweather', serif;
}


.res {
    width: 230px;
    height: 230px;
}

button {
    font-family: 'Merriweather', serif;
    display:inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    font-weight: 300;
    color: #FFF;
    text-align: center;
    background-color: black;
}

button:hover {
    background-color:#dc3545;
}


@media screen and (max-width: 30em) {
    button {
        display: block;
    }
}

section img {
    border-radius: 8px;
}

img + h6 {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

div h1:hover {
    color: #dc3545;
}

#like {
    color: gray;
}

i:hover {
    cursor: pointer;
}

h4+h4 {
    font-weight: bold;
}

h4 {
    text-indent: 1cm;
}

